// -- HTML5
main, header, footer, section, aside {
	display: block;
}
// -- SITE SETUP
*, *:before, *:after { box-sizing: inherit; }
html {
	box-sizing: border-box;
  height: 100%;
	body {
    margin: 0;
	  height: 100%;
    background: $site-bg;
    overflow-x: hidden;
	}
}
.wrap {
  @include clearfix;
  max-width: $container_width;
  margin: 0 auto;
  padding: 0 1rem;
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    padding: 0;
  }
}
.wrap--full {
  @include clearfix;
  width: 100%;
}