// --- FRONT / HOME PAGE
body.front {
    background-attachment: fixed;
    .me {
        width: 100px;
        border-radius: 50%;
        border: 4px solid #f1f1f1;
    }
    main.content {
        @include breakpoint($bp-medium-down, $no-query: ".no-mq") {
            padding: 1.5rem 1rem;
            margin: 20px 1rem;
        }
        max-width: 900px;
        margin: 40px auto;
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        padding: 2.5rem 4rem;
        border-radius: 2px;
        .headshot {
            @include breakpoint($bp-small-down, $no-query: ".no-mq") {
                @include grid-span(4, 1, $gutter: .5);
            }
            @include grid-span(2, 1, $gutter:.5);
            text-align: right;
        }
        .title {
            @include breakpoint($bp-small-down, $no-query: ".no-mq") {
                @include grid-span(8, 5, $gutter: .5);
            }
            @include grid-span(5, 3, $gutter:.5);
            h1 {
                @include breakpoint($bp-small-down, $no-query: ".no-mq") {
                    font-size: 2.3rem;
                }
                margin: -.1rem 0 .2rem 0;
                font-size: 2.6rem;
                line-height: 1;
                span {
                    font-weight: bold;
                }
            }
            h2 {
                @include breakpoint($bp-small-down, $no-query: ".no-mq") {
                    font-size: 1.3rem;
                }
                margin: 0 0 .15rem 0;
                font-size: 1.4rem;
                color: #989898;
            }
            p {
                margin: 0;
                display: inline;
                margin: 0 0 0 .3rem;
            }
            .waypoint {
                bottom: -3px;
                position: relative;
            }
        }
        .contact {
            @include breakpoint($bp-small-down, $no-query: ".no-mq") {
                width: 100%;
                clear: both;
            }
            @include grid-span(5, 8, $gutter:.5);
        }
        .small {
            @include breakpoint($bp-small-down, $no-query: ".no-mq") {
                float: none;
            }
            display: block;
            float: right;
            font-size: 1rem;
        }
        h3 {
            font-size: 1.8em;
            margin-top: 1.5rem;
            color: #f15a5a;
        }
        h4 {
            font-size: 1.2em;
            color: #989898;
            margin: 0 0 .6rem 0;
            @include clearfix;
        }
        p {
            margin-bottom: 1rem;
        }
        section {
            border-left: solid 1px #d0d0d0;
            padding: 0 0 0 1.5rem;
        }
    }
    .icon-list {
        @include breakpoint($bp-small-down, $no-query: ".no-mq") {
            text-align: center;
            margin: 1rem 0 0 0;
        }
        margin: 0;
        padding: 0;
        text-align: right;
        li {
            display: inline-block;
            margin: 0 .5rem;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .svg path {
        transition: all linear 0.2s;
    }
    a {
        &:hover .svg path {
            transition: all linear 0.2s;
            fill: #f05b5b;
        }
    }
}