--- 
layout: default 
body_class: front 
---
<main class="content">

  <header class="clearfix">
    <div class="headshot">
      <img src="/assets/images/brent-robbins-2018.jpg" alt="Brent Robbins" class="me">
    </div>
    <div class="title">
      <h1>Brent Robbins</h1>
      <h2>Frontend Web Developer</h2>

      <img src="/assets/images/icons/waypoint.svg" alt="Waypoint" class="waypoint">
      <p>Fort Collins, Colorado</p>
    </div>

    <div class="contact">
        <ul class="icon-list">
          <li><a href="mailto:&#98;&#114;en%74%40&#118;%61&#114;&#105;a&#110;%74%73%74u&#100;i%6fs%2ecom"><img src="/assets/images/icons/email.svg" class="svg" alt="Email"></a></li>
            <li><a href="https://www.drupal.org/user/164139/" target="_blank" rel="noopener noreferrer"><img src="/assets/images/icons/drupal.svg" class="svg" alt="Drupal"></a></li>
            <li><a href="https://github.com/brentrobbins" target="_blank" rel="noopener noreferrer"><img src="/assets/images/icons/github.svg" class="svg" alt="Github"></a></li>
            <li><a href="https://www.linkedin.com/in/variantstudios/" target="_blank" rel="noopener noreferrer"><img src="/assets/images/icons/linkedin.svg" class="svg" alt="LinkedIn"></a></li>
            <li><a href="https://twitter.com/brentrobbins" target="_blank" rel="noopener noreferrer"><img src="/assets/images/icons/twitter.svg" class="svg" alt="Twitter"></a></li>
          </ul>
    </div>
  </header>

  <h3>Profile</h3>
  <section>
    <p>I am a Colorado native with a passion for building websites since the late 1990's. I have been using Drupal for over
      10 years for my clients at Variant Studios and other sub contracted work.</p>
  </section>

  <h3>Experience</h3>
  <section>
    <h4>Owner/Web Developer, Variant Studios, Inc.
      <span class="small">Fort Collins, CO — 2001-Present</span>
    </h4>
    <p>I started Variant Studios in our home while I was attending Aims Community College. As our business has grown over the
      years I have had the great opportunity to work both with and for some extremely talented individuals. Over seven
      years ago we moved the business from our office in Greeley to Old Town Fort Collins. We specialize
      in designing custom Drupal sites for small to medium sized organizations.
    </p>

    <h4>Frontend Drupal Developer, USDA
      <span class="small">Fort Collins, CO — 2014-2018</span>
    </h4>
    <p>For three and a half years I was a U.S. Federal Government sub contractor for Ace Info Solutions and Heartland Technology
      Group. My responsibilities were to design and develop Drupal sites for the USDA and other government websites.</p>


    <h4>Part-Time Instructor, Aims Community College
      <span class="small">Greeley, CO — 2008-2012</span>
    </h4>
    <p>As a part-time instructor I taught current website design standards, new and upcoming web technologies (CSS3, HTML5,
      jQuery, Responsive Web Design), Drupal and Search Engine Optimization at Aims Community College.</p>

  </section>

  <h3>Education</h3>
  <section>
    <h4>AIMS COMMUNITY COLLEGE, GREELEY, CO</h4>
    <p>A.A.S, Computer Information Systems, 2001</p>
    <p>A.A.S, Business Marketing, 1999</p>
    <p>A.A.S, Business Management, 1999</p>
  </section>

  <h3>Community Involvement</h3>
  <section>

    <h4>Colorado Drupal Camp Volunteer
      <span class="small">2011, 2015-Present</span>
    </h4>
    <p>I volunteered at the Colorado Drupal Camp to help capture sessions, edit and post them to the
      camp's youtube channel.</p>

    <h4>Organizer, Northern Colorado Drupal User Group Meetup
      <span class="small">2010-2014</span>
    </h4>
    <p>In 2010, I started up a new Meetup group for Drupal users in Northern Colorado. I have hosted and organized all of our
      NOCO Drupal user group meetups.</p>


    <h4>Board Member, Aims Community College
      <span class="small">2007-2013</span>
    </h4>
    <p>For 6 years I served on the Aims Community College - Graphic Technology Advisory Committee as a Board Member. As a member
      I was able to help shape the classes and curriculum. I was also responsible for starting a new Web Design and Web Development
      Associate degree program.</p>

  </section>

  <h3>Skills</h3>
  <section>
    <h4>Drupal</h4>
    <p>Theming, Site Architecture, Site Building and Training</p>

    <h4>Frontend</h4>
    <p>HTML5, CSS, SASS, Javascript, Responsive Web Design</p>

    <h4>Programs, Apps and Sites</h4>
    <p>Sketch, Adobe Photoshop, Adobe Illustrator, VS Code, Git, Terminal, Google Apps/Docs, Google Analytics</p>

    <h4>Business</h4>
    <p>Project Management, Marketing, Social Media, Search Engine Optimization</p>
  </section>

  <h3>Interests</h3>
  <section>
    <p>Hockey, Photography and Videography</p>
  </section>


  <h3>References</h3>
  <section>
    <p>Available upon request.</p>
  </section>

</main>